- @tweets.each do |tweet|
    = render partial: 'partials/tweet', locals: {tweet: tweet}


/ %div{"ng-controller" => "tweetsCtrl"}
/   %div{"ng-repeat" => "tweet in tweets"}
/     %p {{tweet.content}}