%div.navbar
  .profile
    .item= current_user.username
    .item= current_user.email
    = link_to "Sign out", destroy_user_session_path, method: :delete

.view
  .left
    %a{href: "#tweets"} All Tweets
    %a{href: "#follows"} People I am Following
    %a{href: "#users"} All Users
    %ng-view

